<!-- Include Head -->
<%- include('../partials/head', {title: 'Detalle de Clase'}) %>

<!-- Include Header -->
<%- include('../partials/header2',{usuario}) %>


<!-- -------------------------------------------FIRST-BANNER--------------------- -->
<div class= "bannerTrolley__container-adImgBox">
    <img class= "bannerTrolley__container-adImg" src="/images/banners/trolley_banner3.jpeg" alt="foto de una marca de deportes.jpeg">
</div>
<!-- -------------------------------------------ORDER-TROLLEY--------------------- -->

<main class="main_content">
<section class= "bodyTrolley">
        <!-- BANER VERTICAL DE PUBLICIDAD -->
        <div class= "verticalAd__container">
            <img class= "verticalBanner" src="/images/banners/shoes.jpg" alt="reebok running shoes">
        </div>
    <section class="buy__container">
    <!-- PRIMERA SECCION CON CLASES A COMPRAR -->
    <main class="main_content">
        <section class="buyTrolley__container">
            <header class="buyTrolley__container-headertextbox">
                <h2>Probá <b><%= activity.name %></b> </h2>
            </header>
            <!-- CLASE -->
            <article class ="gymLesson__container">
                <div class="container gymLesson__container-elements">
                    <div class="gymLesson__container-elements-imagebox">
                        <img class= "lesson-image" src="/images/actividades/<%= activity.img %> " alt="Clases de Yoga">
                    </div>
                    <div class="gymLesson__container-elements-textbox">
                        <h3><%= activity.name %> </h3>
                        <h4>$<%= activity.monthly_price %> </h4>
                        <p><%= activity.description %></p>
                        <h6>Maxima Capacidad: <%= product.max_price %> </h6>
                        <h6>Horarios:<%= product.days %> <%= product.time %>  </h6>
                        <div class="container container__options">
                            <li class="actions-list">
                                <i class="fas fa-credit-card"></i>
                                <p>Pagá en 12 cuotas sin interes</p>
                            </li>
                            
                                <form class="container__cart--buy">
                                    <button type="submit" class="btn btn-light">COMPRAR AHORA</button>  
                                </form>
                            
                                <form class="container__cart--carrito">
                                    <button type="submit" class="btn btn-light">AGREGAR AL CARRITO</button>  
                                </form>
                            
                            <div class="container__detail">
                                <a href="/products/<%= product.id%>/edit">
                                    <button type="button" class="btn btn-light">EDITAR</button>  
                                </a> 
                                <form action="/products/delete/<%= product.id%>?_method=DELETE" method="POST">
                                    <button type="submit" class="btn btn-light">ELIMINAR</button>  
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </article>  
        </section>
    <!-- SEGUNDA SECCION CON PLANES DE SUSCRIPCION MENSUAL/ANUAL -->
        <section class="subscription__container">
            <header class="suscription__container-headertextbox">
                <h2>Abonos Fijos</h2>
            </header>
            <!-- SUSCRIPCION MENSUAL -->
            <section class="subscriptionPass__container">
                <article class ="monthPass__container">
                    <a class="monthPass__container-elements" href="#">
                        <img class= "month-image" src="/images/actividades/monthlySubGirl.png" alt="suscripcion por un mes">
                        <div class="monthPass__container-elements-textbox">
                            <p>Pase libre semestral<br>$XXXX</p>
                            <button class="btn btn-success">Editar</button>
                        </div>
                    </a>
                </article>
                <!-- SUSCRIPCION ANUAL -->
                <article class ="anualPass__container">
                    <a class="anualPass__container-elements" href="#">
                        <img class= "anual-image" src="/images/actividades/monthlySubBoy.png" alt="suscripcion por un anio">
                        <div class="anualPass__container-elements-textbox">
                            <p>Pase libre anual<br>$XXXX</p>
                            <button class="btn btn-success">Editar</button>
                        </div>
                    </a>
                </article>
            </section>
        </section>
    </section>
</section>
</main>
<!-- Include Footer -->
<%- include('../partials/footer') %>