<!-- Include Head -->
<%- include('partials/head', {title: 'Bienvenidos a Da Gym'}) %>
<script src="/js/login.js"></script>

<!-- Whatsapp Boton -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://api.whatsapp.com/send?phone=51955081075&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202." class="whatsapp" target="_blank">
<i class="fab fa-whatsapp my-float"></i>
</a>
<!-- End Whatsapp boton -->

<!-- Include Header -->
<%- include('partials/header') %>


    <!-- Carousel Dont Change the class!!! vienen asi de bootstrap y no se pueden cambiar-->
    <div id="carousel-1" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="/users/create"><img src="/images/misc/imagenDePrueba3.jpg" class="d-block w-100" alt="Persona haciendo lagartijas"></a>
            <div class="carousel-caption">
                <a href="/users/create"><h1><b>SI NO SOS SOCIO, CON DA GYM PODES ENTRENAR IGUAL</b></h1></a>
            </div>
          </div>
        <div class="carousel-item">
            <a href="/products"><img src="/images/misc/imagenDePrueba2.jpg" class="d-block w-100" alt="Imagen de gimnasio"></a>
            <div class="carousel-caption">
                <a href="/products"><h2><b>¿YA ESTAS DISFRUTANDO DE NUESTRO SERVICIO DESDE TU CASA?</b></h2></a>
            </div>
        </div>
        <div class="carousel-item">
            <a href="/products"><img src="/images/misc/imagenDePrueba1.jpg" class="d-block w-100" alt="imagen de entrenamiento calistecnia"></a>
            <div class="carousel-caption">
                <a href="/products"><h2><b>SUMAMOS NUEVAS SEDES EN ZONA NORTE</b></h2></a>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- End Carousel -->

    <!-- Carousel II -->
    <div id="carousel-2" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">     
                <!-- Una clase individual -->
          
                <% products.forEach(product => { %>
                <div class="carousel-item" id="containter-item"> </div>
                    <a href="/products/<%= product.id %>">
                        <h2 class="nombreClase"><%= product.name %></h2>
                        <img src="/images/actividades/<%= product.img %>" class="d-block w-100" alt="<%= product.name %>">
                    </a>
                </div>
            <% }) %>

        </div>
        <a class="carousel-control-prev" href="#carousel-2" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-2" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      
    <!-- End Carousel -->

    <!-- Banner --> 
    <div class ="banner__home">
        <div class="banner__home-elements">
            <div class="banner__home-elements-background">
                <img src="/images/logos/logo_nike.png">
            </div>
            <div class="banner__home-elements-textbox">
            <h2><b>CON NIKE OBTENE TU PASE GRATIS</b></h2>
            <h3>VENI Y PROBA UNA CLASE SIN CARGO</h3>
            </div>
            <div class="container__home--send">
                <button type="button" class="btn btn-light">QUIERO</button>
            </div>
        </div>
    </div>
    <!-- End Banner  -->


<!-- Include Footer -->
<%- include('partials/footer',{branches}) %>

<!-- truquito para poder hacer correr el carousel de bootstrap con un forEach. agrega "active" a la primera slide del loop. -->
<script>
    $(document).ready(function () {
      $('#carousel-2').find('.carousel-item').first().addClass('active');
    });
    $('#carousel-2').carousel({
      interval: false,
    });
</script>
