<!-- Include Head -->
<%- include('partials/head', {title: 'Detalle de Clase'}) %>

<body>

<!-- Include Header -->
<%- include('partials/header') %>

<!-- -------------------------------------------FIRST-BANNER--------------------- -->
<div class= "bannerTrolley__container-adImgBox">
    <img class= "bannerTrolley__container-adImg" src="/images/banners/trolley_banner3.jpeg" alt="foto de una marca de deportes.jpeg">
</div>
<!-- -------------------------------------------ORDER-TROLLEY--------------------- -->
<section class= "bodyTrolley">
        <!-- BANER VERTICAL DE PUBLICIDAD -->
        <div class= "verticalAd__container">
            <img class= "verticalBanner" src="/images/banners/shoes.jpg" alt="reebok running shoes">
        </div>
    <section class="buy__container">
    <!-- PRIMERA SECCION CON CLASES A COMPRAR -->
        <section class="buyTrolley__container">
            <header class="buyTrolley__container-headertextbox">
                <h2>Detalle Clase: <b><%= product.name %></b> </h2>
            </header>
            <!-- CLASE -->
            <article class ="gymLesson__container">
                <div class="gymLesson__container-elements">
                    <div class="gymLesson__container-elements-imagebox">
                        <img class= "lesson-image" src="/images/actividades/<%= product.image %> " alt="Clases de Yoga">
                    </div>
                    <div class="gymLesson__container-elements-textbox">
                        <h3><%= product.name %> </h3>
                        <h4>$<%= product.price %> </h4>
                        <p><%= product.description %></p>
                        <h5>Trainer: <%= product.instructor %> </h5>
                        <h6>Categoria: <%= product.category %> </h6>
                        <h6>Horarios: <%= product.schedule %> </h6>
                        <div class="container__options">
                            <li class="actions-list">
                                <i class="fas fa-credit-card"></i>
                                <p>Pagá en 12 cuotas sin interes</p>
                            </li>
                            <div class="container__detail">
                                <div class="container__detail--send">
                                    <button type="button" class="btn btn-light"><i class="fas fa-shopping-cart"></i></button>
                                </div>
                                <a href="/products/<%= product.id%>/edit" class="container__detail--send">
                                    <button type="button" class="btn btn-light"><i class="fas fa-edit"></i></button>
                                </a>
                                <form class="container__detail--send" action="/products/delete/<%= product.id%>?_method=DELETE" method="POST" >
                                        <button type="button" class="btn btn-light"><i class="fas fa-trash-alt"></i></button>
                                </form>
                            </div>
                            <div class="container__cart--buy">
                                <button type="button" class="btn btn-light">COMPRAR AHORA</button>
                            </div>
                        </div>
                    </div>
                </div>
            </article>  
        </section>
    <!-- SEGUNDA SECCION CON PLANES DE SUSCRIPCION MENSUAL/ANUAL -->
        <section class="subscription__container">
            <header class="suscription__container-headertextbox">
                <h2>Abonos Fijos</h2>
            </header>
            <!-- SUSCRIPCION MENSUAL -->
            <section class="subscriptionPass__container">
                <article class ="monthPass__container">
                    <a class="monthPass__container-elements" href="#">
                        <img class= "month-image" src="/images/actividades/monthlySubGirl.png" alt="suscripcion por un mes">
                        <div class="monthPass__container-elements-textbox">
                            <p>Pase libre mensual<br>$XXXX</p>
                            <button class="btn btn-success">Editar</button>
                        </div>
                    </a>
                </article>
                <!-- SUSCRIPCION ANUAL -->
                <article class ="anualPass__container">
                    <a class="anualPass__container-elements" href="#">
                        <img class= "anual-image" src="/images/actividades/monthlySubBoy.png" alt="suscripcion por un anio">
                        <div class="anualPass__container-elements-textbox">
                            <p>Pase libre anual<br>$XXXX</p>
                            <button class="btn btn-success">Editar</button>
                        </div>
                    </a>
                </article>
            </section>
        </section>
    </section>
</section>
<!-- -------------------------------------------SECOND-BANNER--------------------- -->


<div class= "bannerTrolleyTwo__container-adImg">
    <img src="/images/banners/trolley_banner1.jpeg" alt="foto de una marca de deportes.jpeg">
</div>

<!-- Include Footer -->
<%- include('partials/footer') %>