<!-- Include Head -->
<%- include('../partials/head', {title: 'CPanel Da Gym'}) %>

<!-- Include Header -->
<%- include('../partials/header') %>

<!-- Profile stile.css line:920 -->

<div class="container profileEditForm">
    <h2 class="profileTitle">Usuarios Registrados</h1>
    <div class="container profileBody">
        <ul class="container userEditProfileForm" >
            <% users.forEach(user => { %>
             <li>
                <p class="userData">
                    <%= user.first_name %> <%= user.last_name %>
                </p>
                <form action="/admin/user/edit/<%= user.id %>?_method=PUT" class="container userEditProfileForm" method="POST">
                    
                    <select name="role" id="">
                        <option value="1" <%= user.role == 1 ? "selected" : ""%>>Cliente</option>
                        <option value="2" <%= user.role == 2 ? "selected" : ""%>>Profesor</option>
                        <option value="3" <%= user.role == 3 ? "selected" : ""%>>Administrador</option>
                    </select>
                    <button type="submit" class="btn btn-primary">Cambiar Rol</button>
                </form>
                <form action="/admin/user/delete/<%= user.id %>?_method=DELETE" class="" id="deleteForm" method="POST">
                    <button type="submit" class="btn btn-danger deleteUser">Eliminar Perfil</button>
                </form>
                
            </li>
            <% }) %>

        <!-- <div class="profileBtn">

        </div> -->
    </div>
</div>

<!-- Include Footer -->
<%- include('../partials/footer') %>
