<!-- Include Head -->
<%- include('../partials/head', {title: 'Bienvenidos a Da Gym'}) %>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> -->
<script src="/js/deletePrompt.js" defer></script>

<!-- Include Header -->
<%- include('../partials/header') %>

<!-- Profile  style.css:850 -->

<div class="profileEditForm">
    <h2><%= user.first_name %>, aquí podés editar tu Perfil.</h1>
    
    <form action="/users/profile/edit/<%= user.id %>?_method=PUT" enctype="multipart/form-data" class="container userEditProfileForm" method="POST">
        <div class="container profileImage">
            <div class="container imageBox">
                <img src="/images/users/<%=user.avatar_url%>" alt="Foto de Perfil">
                <div class="textAndBtnBox">
                    <input type="file" name="avatar_url" id="foto" class="btn btn-primary">
                    <p style = "font-size: small; color: black;">(200x200px)</p>
                </div>
            </div>
        </div>
        <div class="profileBody">

    <!-- /chequea si hay errores cargadors por el usuario e el formulario, y de ser asi los muestra -->
            <% if (typeof(errors) != "undefined") { %>
                <p class="errorsProfileForm">
                    <%= errors %>
                </p>
            <% } %>


            <label for="">Nombre</label>
            <input type="text" value="<%= user.first_name %>" name="first_name" class="miInput">
            <label for="">Apellido</label>            
            <input type="text" value="<%= user.last_name %>" name="last_name" class="miInput">
            <label for="">Email</label>
            <input type="email" value="<%= user.email %>" name="email" class="miInput">
            <label for="">Género</label>
            <input type="text" value="<%= user.genre %>" name="genre" class="miInput">
            <label for="">Fecha de Nacimiento</label>
            <input type="date" value="<%= user.birth_day %>" name="birth_day" class="miInput">
            <label for="">Número de Movil</label>
            <input type="number" value="<%= user.mobile_number %>" name="mobile_number" class="miInput">
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
        </div>
    </form>
    <div class="deleteBtn">
        <form action="/users/profile/delete/<%= user.id %>?_method=DELETE" class="" id="deleteForm" method="POST">
            <button type="submit" class="btn btn-danger deleteUser">Eliminar Perfil</button>
        </form>
        <a href="/users/profile/<%= user.id %>" class="btn btn-light">Cancelar</a>
    </div> 
</div>

<!-- Include Footer -->
<%- include('../partials/footer') %>
